{%extends "blogapp/newbase.html" %}
{%load static%}
{% block content %}
<div class="container">
 <div class="row" >
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{%static 'blogapp/img/ksh.jpg'%}" height="400px" width="300px">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">KSHITIZ SRIVASTAVA
                <a class ="right btn-floating pink pulse">
                    <i class="material-icons">more_vert</i>
                </a></span>
              <p>Backend/Frontend Developer</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class=" right material-icons">close</i><p>KSHITIZ SRIVASTAVA</p></span>
                <p>Hey there! I am Kshitiz, currently pursuing  <b>B.Tech</b> in <b>Computer Science and Engineering</b> from <b>MNNIT, Allahabad</b>.</p>
                <p>You can meet me at:</p>
                <a href="https://www.facebook.com/kshitiz.srivastava.39">Facebook</a><br>
                <a href="https://github.com/pirateksh">Github</a><br>
                <a href="https://codeforces.com/profile/Pirate_ksh">Codeforces</a><br>
            </div>
        </div>
    </div>


<div class="col l4 m6 s12"  >
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{%static 'blogapp/img/ankit.jpg'%}" height="400px">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">ANKIT SANGWAN
                <a class ="right btn-floating pink pulse">
                    <i class="material-icons">more_vert</i>
                </a></span>
              <p>Backend Developer</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class=" right material-icons">close</i><p>ANKIT SANGWAN</p></span>
                <p>
                    Hey there! I am Ankit, currently pursuing 
                    <b>B.Tech</b> in <b>Electronics & Communication Engineering</b> 
                    from <b>MNNIT, Allahabad</b>.
                </p>
                <p>You can meet me at:</p>
                <a href="https://www.facebook.com/ankit.sangwan.5836">Facebook</a><br>
                <a href="https://github.com/ankitsangwan1999">Github</a><br>
                <a href="https://codeforces.com/profile/ankit.sangwan1999">Codeforces</a><br>
            </div>
        </div>
</div>



 <div class="col l4 m6 s12" >
    <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{%static 'blogapp/img/vish.jpeg'%}" height="400px;">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                VISHWAJEET KUMAR
                <a class ="right btn-floating pink pulse">
                    <i class="material-icons">more_vert</i>
                </a>
            </span>
                
              <p>Frontend and Designing</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class=" right material-icons">close</i><p>VISHWAJEET KUMAR</p></span>
                <p>Hey there! I am Vishwajeet, currently pursuing  <b>B.Tech</b> in <b>Information Technology</b> from <b>MNNIT, Allahabad</b>.</p>
                <p>You can meet me at:</p>
                <a href="https://www.facebook.com/profile.php?id=100010709133386">Facebook</a><br>
            </div>
    </div>
</div>
</div>
</div>
{%endblock content%}