{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'blogapp/css/style.css' %}" rel="stylesheet" />
    <link href="{%static 'blogapp/css/materialize.css' %}" rel="stylesheet" />
    <link href="{%static 'blogapp/css/materialize-social.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{%static 'blogapp/js/jQuery.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>
</head>
<body>
{%block content%}{%endblock%}



<script src="{% static 'blogapp/js/materialize.js'%}"></script>
<script src="{% static 'blogapp/js/init.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
</body>
</html>