<footer class="page-footer teal white-text" style="overflow: hidden">
    <div class="fixed-action-btn-right-bottom horizontal click-to-toggle" >
        <a class="btn-floating btn-large black to-top-btn" href="#top">
        <i class="material-icons large">keyboard_arrow_up</i>
        </a>
    </div>
        <div class="container" >
            <div class="row">
                <div>  
                    <h5 class="white-text">Contact Us</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                    <a href="https://www.google.com/maps/place/MNNIT+Allahabad+Campus,+Teliarganj,+Prayagraj,+Uttar+Pradesh/@25.4921509,81.8616897,16z/data=!3m1!4b1!4m5!3m4!1s0x399aca789e0c84a5:0x2c27733a7529bf08!8m2!3d25.4918881!4d81.8675096" class="waves-effect waves-light btn-floating btn-large teal">
                        <i class="material-icons">place</i>
                    </a>
                    Address: MNNIT Allahabad Campus, Teliarganj, Prayagraj, Uttar Pradesh
                </div>
                <div>
                    <hr>
                    <h5 class="white-text">Connect</h5>
                    <div class="col s12 m3 l12">
                    <table class="responsive-table">
                        <tr style="display: inline;">
                            <td style="overflow: hidden;">
                                
                                    <img src="https://image.flaticon.com/icons/svg/273/273519.svg" style="height:55px; width:55px;" />
                                
                            </td>
                            <td style="overflow: hidden;">
                                Email: secretary@mnnit.ac.in
                            </td>
                            <td style="overflow: hidden;">
                                    <img src="https://image.flaticon.com/icons/svg/401/401171.svg" style="height:56px; width:56px;" />
                                
                            </td>
                            <td style="overflow: hidden;">
                                Telephone No.: 91-0532-2545404, 2545407 
                            </td>
                            <td style="overflow: hidden;">
                                <a class="waves-effect waves-light btn-floating btn-large">
                                    <img src="https://image.flaticon.com/icons/svg/185/185981.svg" style="height:56px; width:56px;" />
                                </a>
                            </td>
                            <td style="overflow: hidden;">
                                Facebook Page : <a href="https://www.facebook.com/groups/ccqueries/" style="color:white;">https://www.facebook.com/groups/ccqueries/</a>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright of <a class="brown-text text-lighten-3" href="http://www.mnnit.ac.in/">MNNIT ALLAHABAD</a>
            </div>
        </div>
</footer>